<div class="gridbox">

    <article class="readPost">
    <input type="text"  data={{post.id}}>{{post.post_title}}</input>
    
    <textarea  data={{post.id}}>{{post.post_content}}</textarea>
    </article>

    </div>

    <script src="/js/editPost.js"></script>