<div class="homepageBox">

{{#each posts as |post|}}
<article class="gridbox">
    <h2 class="postTitle">{{post_title}} <br/>by {{user.username}}</h2>
    <p class="singlePost">{{truncate_post post_content}}</p>
    <button><a class="readPost" href="/post/{{id}}">Read More</a>
    </button>
</article>
{{/each}}
</div>

{{!-- <script src="js/readPost.js"></script> --}}