<section>
<div>
    <h3>Welcome back!</h3>
    <form>
        <input type="text" id="signInUser" placeholder="Username">
                <input type="text" id="signInPw" placeholder="Password">
<button type="submit">Log in</button>
    </form>

    <div>
        <p>If you'd like to sign up to Console.blog() click <a href="/signup">HERE</a>
        .</p>
    </div>
</div>
</section>

<script src="/js/login.js"></script>
