<div class="notFound">

<div class="backBtn">
  <i class="backArrow"></i>
  <a class="backBtnLink" href="/">
  Go Back
  </a>
  </div>
<div class="container404">
    <h1 class="_404 welcomeUser">
        404
    </h1>
    <p class="nfText">It appears that page doesn't exist. Sorry!</p>
</div>
</div>