<div class="profilePage">

    <div class="profilePicBox">
 <img id="profilePicDefault" src="./images/avatar.png"/>
    <h3 class="welcomeUser" >{{username}}</h3>
    </div>
   
   <div class="myPosts">
    <h3 class="welcomeUser">Your Posts</h3>
    <div class="yourPosts"></div>
    {{#each posts as |post|}}
    <article class="gridbox userPost">

    <h4 class="postTitle">{{post_title}}</h4>
    <hr>
   
   <button><a href='/editPost'>Update Post</a></button>

    <button type="click" id="deletePost" data={{id}}>Delete</button>
</article>
{{/each}}
   </div>


   <div class="newPost ">
    <h3  class="welcomeUser">Share a New Post</h3>
    <input type="text" placeholder="Title this post" name="title" id="postTitle">
        <textarea type="textarea" placeholder="Write your post here" name="mainPost" id="postContent"></textarea>
        <button id="addPost" type="button" class="addPost">Add Post</button>
   </div>


  
</div>

<script src="/js/addPost.js"></script>
<script src="/js/deletePost.js"></script>

