<div class="profilePage">
    <div class="profilePicBox">
 <img id="profilePicDefault" src="./images/avatar.png"/>
    <h3 class="welcomeUser" >{{username}}</h3>
    </div>
   
   <div class="yourPosts">
    {{#each posts as |post|}}
    <article class="gridbox">
    <h2>{{post.post_title}}</h2>
    <p>{{post.post_content}}</p>
</article>
{{/each}}
   </div>


   <div class="newPost">
    <h3  class="welcomeUser">Share a New Post</h3>
    <input type="text" placeholder="Title this post" name="title" id="postTitle">
        <input type="textarea" placeholder="Write your post here" name="mainPost" id="postContent">
        <button type="submit" class="addPost" id="addPost">Add Post</button>
   </div>
</div>