<div class="backBtn">
  <i class="backArrow"></i>
  <a class="backBtnLink" href="/">
  Go Back
  </a>
  </div>


<form class="loginSect">
  <div class="">
    <p class="blog-slogan">Want to connect with developers like yourself?</p>
    <h1 class="blog-slogan">Sign Up to Console.blog() Today!</h1>
  </div>
  <input
    type="text"
    placeholder="Username"
    name="username",
    id="signUsername"
  />

  <input
    type="text"
    placeholder="Password"
    name="signPW1"
    id="signPW1"
  />

  <input
    type="text"
    placeholder="Confirm Password"
      name="signPW2"
    id="signPW2"
  />
  <button id="signUp" type="submit" class="signUpBtn">Sign Me Up</button>
</form>

<script src="/js/signup.js"></script>