<a className="backBtn" href="/">Go Back</a>

<form className="signup__container">
      <div className="signupTitle">
        <p>Want to connect with developers like yourself?</p>
        <h1>Sign Up to Console.blog() Today!</h1>
        </div>
      <input
        type="text"
        className="infoInput"
        placeholder="Username"
        name="signUsername"
      />

      <input
        type="text"
        className="infoInput"
        placeholder="Password"
        id="signPassword1"
      />

      <input
        type="text"
        className="infoInput"
        placeholder="Confirm Password"
        id="signPassword2"
      />

      <span className="ahaa">Already have an account?</span>
      <button type='submit' className="signupBtn">Sign Me Up</button>
    </form>


    <script src="/js/signup.js"></script>