<div class="thanksBox">
    <h1 class="thankYou">
        Thanks for signing up with us!
    </h1>

    <p class="thankYou">
        We're happy to have you!
        </p>

    <a href="/profile" class="thanksNext">
        Continue to my Profile!
    </a>
</div>