@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Press Start 2P', 'Roboto Serif', monospace;
  scroll-behavior: smooth !important;
  /* overflow-y: scroll; */
}

:root {
  --header-bg: rgba(17, 17, 17, 0.89);
  --header-title: rgb(71, 194, 4);
  --body-bg: rgb(11, 11, 11);
}

body {
  background-color: var(--body-bg);
  margin: 0;
  padding: 0;
}

.mainContainer {
min-height: 80vh;
min-height: 80dvh;
display: grid;
grid-template-rows: auto, 1fr, auto;

}

a, button {
  font-family: 'Press Start 2P', 'Roboto Serif';
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 2em;
  background-color: var(--header-bg);
  word-spacing: 0.5em;
}


footer {
  font-family: "Press Start 2P", "Roboto Serif";
  background-color: var(--header-bg);
 padding: 2em;
    width: 100%;
  
}

footer li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: var(--header-title);
  margin: 1em;
  padding: 1em;
  width: auto;
}

footer ul {
  width:fit-content;
    list-style: none;
    text-align: center;
    margin: auto;
}
footer a:hover {
  color: rgb(255, 255, 255);
  transition: color 1s;
  opacity: 1;
  transition: opacity 1s;
}

textarea {
  height: fit-content;
  min-height: 100px;
  padding: 1em;
  color: var(--header-title);
  border-radius: 20px;
  background-color: rgba(41, 41, 41, 0.885);
  box-shadow: 2px 2px 2px 0px rgb(101, 101, 101);
}

.headliner {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: justify;
}


.dropdown {
  position: relative;
}

.dropdownBtn {
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 1.5em;
  justify-content: center;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 2px;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


.dropdownContent {
    text-align: center;
    opacity: 0;
  right: 0;
  color: var(--header-title);
  font-family: "Roboto Serif";
  border-radius: 1em;
  background-color: var(--header-bg);
  box-shadow: 2px 2px 2px 0px rgb(55, 55, 55);
  position: absolute;
  top: calc(100% * 0.25em);
}

.dropdownContent li {
    list-style: none;
    margin: 1.5em;
    padding: 1em;
    border-bottom: solid 3px rgb(55, 55, 55);
}

.dropdownContent a {
    opacity: .8;
    text-decoration: none;
    color: var(--header-title);
}

.dropdownContent a:hover {
    opacity: 1;
    transition: opacity .5s;
}

.blog-title,
.blog-slogan {
  font-family: "Press Start 2P", "Roboto Serif";
  color: var(--header-title);
}

.blog-title {
  margin: 1em auto;
}

.blog-slogan {
  line-height: 2em;
  margin: auto 0.6em;
}

.blinkContainerConstant {
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.blinkLine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.blinkInfinite {
  width: 0.5rem;
  height: 1.8em;
  background-color: white;
  animation: blink 0.4s linear infinite;
}

@keyframes blink {
  0% {
    background-color: white;
  }

  50% {
    background-color: transparent;
  }
}

main {
  margin: auto;
 
}

.backBtn {
  margin-top: 4em;
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.backBtnLink{
  text-decoration: none;
  
}

.backBtnLink:hover {
scale: 130%;
  transition: all .5s;

}

.backArrow{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 120px;
  height: 15px;
  width: 15px;
    border: solid var(--header-title);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    /* transform: rotate(135deg); */
    /* -webkit-transform: rotate(135deg); */
}

.backBtn:hover > .backArrow {
  visibility: visible;
  animation: arrow .5s linear infinite;
}

@keyframes arrow {

  0% {
    opacity: 0;
   transform: translateX(0) rotate(135deg);

  }

  50% {
    opacity: 1;
    transform: translateX(-25) rotate(135deg);

  }

  100% {
    opacity: 0;
    transform: translateX(-50px) rotate(135deg);

  }

}

.loginSect {
  margin: 25% auto;
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
  max-width: 600px;
  color: white;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

button {
  align-self: center;
  margin: .5em;
  padding: .75em;
  border-radius: 10px;
  font-weight: boldest;
  cursor: pointer;
  background-color: #333;
  color: white;
  box-shadow: 2px 2px 1px 1px var(--header-title);
  width: fit-content;
  height: fit-content;
} 

.loginBtn:hover, .signUpBtn:hover, .logoutBtn:hover, .addPost:hover {
  box-shadow: none;
  scale: 98%;
  transition: all .75s ease-out;
}

.logoutBtn {
  margin-bottom: 0;
  margin-left: 0;
}

input {
  font-family: 'Press Start 2P', 'Roboto Serif', monospace;
  margin: .25em;
  padding: 5px;
  /* width: 70%; */
  background: transparent; 
  color: var(--header-title);
  border: none;
}

.signUpBox{
margin: 2em;
}

.signUpBox p, a{ 
  font-family: 'Press Start 2P', 'Roboto Serif';
  color: var(--header-title);
  margin: auto;
  line-height: 1.25em;
}

.signUpBox a:hover {
  color: white;
  transition: color .5s ease-in-out;
}

.thanksBox{
margin: 4em auto;
text-align: center;
}

.thankYou {
  margin: 2em;
  font-family: 'Press Start 2P', 'Roboto Serif';
  color: var(--header-title);
}

.yourPosts {
  display: grid;
 grid-template-columns: repeat(autofill, 3);
 grid-template-rows: repeat(autofill);
  width: fit-content;
  height: min-content;
}

.myPosts {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: fit-content;
  width: 75vw;
  min-height: 200px;
  line-height: 2em;
  margin: 1em;
  background-color: var(--header-bg);
  border-radius: 20px;
  padding: 1em;
  box-shadow: 2px 2px 2px 0px rgb(55, 55, 55);
  border: solid 0px white;
}

.userPost {
  width: fit-content;
  max-width: 250px;
  background-color: var(--body-bg);
  box-shadow: 0px 0px 4px 4px rgba(163, 163, 163, 0.885);
}

#profilePicDefault {
  margin: 1em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 7px var(--header-title);
}

.profilePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;  

}

.profilePicBox {
  margin: 3em auto;
  text-align: center;
  border: solid 0px white;
  width: fit-content;
}

.welcomeUser {
  margin: auto;
  padding: 1em;
  font-family: 'Press Start 2P', 'Roboto Serif';
  color: var(--header-title);
}

.newPost {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: fit-content;
  max-width: 95vw;
  min-height: 200px;
  line-height: 2em;
  margin: 1em;
  background-color: var(--header-bg);
  border-radius: 20px;
  padding: 1em;
  box-shadow: 2px 2px 2px 0px rgb(55, 55, 55);
  border: solid 0px white;
}

.homepageBox {
  display:grid;
  min-height: fit-content;
  width:fit-content;
  grid-template-columns: repeat(auto, 3);
  grid-template-rows: repeat(auto);
justify-content: space-evenly;
}

.commentsBox{
  background-color: var(--header-bg);
  color: var(--header-title);
  padding: 1.5em;
  margin: 1.5em auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 4x rgb(55, 55, 55);
  font-family: 'Roboto Serif';
  border: 2px solid var(--header-title);
}



.username{
  margin: 1.4em;
  color: white;
}

.commentBox{
  background-color: var(--header-bg);
  color: var(--header-title);
  padding: 1.5em;
  margin: 1.5em auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 4x rgb(55, 55, 55);
  font-family: 'Roboto Serif';
  border: 2px solid var(--header-title);
}

.gridbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--header-bg);
  color: var(--header-title);
  padding: 1.5em;
  margin: 1.4em;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 4x rgb(55, 55, 55);
}

.readPost{
  text-align:justify;
}
.commentOne{
  border: 2x solid var(--header-title);
}

.postTitle, .singlePost {
  font-family: 'Roboto Serif', monospace;
  line-height: 1.5em;
  padding: 1em;
}

.readMore {
margin: auto 0 0 auto;
}

.editPost {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  background-color: var(--header-bg);
  color: var(--header-title);
}

._404{
  text-align: center;
font-size: 5em;
margin: 1em auto;
}

.trash{
  margin: 10px; 
  background-color: var(--header-title);
  border-radius: 0;
  width: 50px;
  height: 50px;
}

.nfText{
  margin: 1em auto;
  color: var(--header-title);
  font-size:large;
  font-family: 'Press Start 2P', 'monospace';
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }

  header, footer {
    padding: 1em;
    flex-direction: column;
    align-items: center;
  }


  .mainContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
   }
    
   .profilePage {
    display: flex;
    flex-direction: column;
justify-content: space-evenly;  
  }

  .blinkContainerConstant {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }

}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }


  header, footer {
    padding: 1em;
    flex-direction: column;
    align-items: center;
  }

 .mainContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
 }
  
 .profilePage {
  display: flex;
  flex-direction: column;
  margin: auto;
    justify-content: center;

}

  .blinkContainerConstant {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }

  .loginSect{
    max-width: 95%;
  }

  .newPost {
    margin: 5em auto;
    width: auto;
  }
 
}