@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
  scroll-behavior: smooth !important;
  /* overflow-y: scroll; */
}

:root {
  --header-bg: rgba(17, 17, 17, 0.89);
  --header-title: rgb(71, 194, 4);
  --body-bg: rgb(11, 11, 11);
}

body {
  background-color: var(--body-bg);
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2em;
  background-color: var(--header-bg);
  word-spacing: 0.5em;
}


footer {
  padding: 3em;
  font-family: "Press Start 2P", "Roboto Serif";
  background-color: var(--header-bg);
  position: static;
    left: 0;
    bottom: 0;
    width: 100%;
  
}

footer li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: var(--header-title);
  font-size: 1.5em;
  margin: 1em;
  padding: 1em;
  width: auto;
}

footer ul {
  width:fit-content;
    list-style: none;
    text-align: center;
    margin: auto;
}
footer a:hover {
  color: rgb(255, 255, 255);
  transition: color 1s;
  opacity: 1;
  transition: opacity 1s;
}


.headliner {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdownBtn {
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 1.5em;
  justify-content: center;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 2px;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


.dropdownContent {
    text-align: center;
    opacity: 0;
  right: 0;
  color: var(--header-title);
  font-family: "Roboto Serif";
  border-radius: 1em;
  background-color: var(--header-bg);
  box-shadow: 2px 2px 2px 0px rgb(55, 55, 55);
  position: absolute;
  top: calc(100% * 0.25em);
}

.dropdownContent li {
    list-style: none;
    margin: 1.5em;
    padding: 1em;
    border-bottom: solid 3px rgb(55, 55, 55);
}

.dropdownContent a {
    opacity: .5;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--header-title);
}

.dropdownContent a:hover {
    opacity: 1;
    transition: opacity .5s;
}

.blog-title,
.blog-slogan {
  font-family: "Press Start 2P", "Roboto Serif";
  color: var(--header-title);
}

.blog-slogan {
  line-height: 2em;
  margin: auto 0.6em;
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }

  header {
    padding: 2em;
    flex-direction: column;
    align-items: center;
  }

  .blinkContainerConstant {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }
}

.blinkContainerConstant {
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.blinkInfinite {
  width: 0.5rem;
  height: 1.8em;
  background-color: white;
  animation: blink 0.4s linear infinite;
}

@keyframes blink {
  0% {
    background-color: white;
  }

  50% {
    background-color: transparent;
  }
}

h1 {
  font-size: rem;
}

h3 {
  font-size: 1.5em;
}

main {
  min-height: fit-content;
  margin: 5em;
  /* display: grid;
  grid-template-columns: repeat(auto, fit-content);
  gap: 3.5em; */
}

.backBtn {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.backBtnLink{
  text-decoration: none;
  
}

.backBtnLink:hover {
scale: 130%;
  transition: all .5s;

}

.backArrow{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 120px;
  height: 15px;
  width: 15px;
    border: solid var(--header-title);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    /* transform: rotate(135deg); */
    /* -webkit-transform: rotate(135deg); */
}

.backBtn:hover > .backArrow {
  visibility: visible;
  animation: arrow .5s linear infinite;
}

@keyframes arrow {

  0% {
    opacity: 0;
   transform: translateX(0) rotate(135deg);

  }

  50% {
    opacity: 1;
    transform: translateX(-25) rotate(135deg);

  }

  100% {
    opacity: 0;
    transform: translateX(-50px) rotate(135deg);

  }

}



.gridbox {
    height: 20em;
    width: 75vw;
    background-color: var(--header-bg);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0px rgb(55, 55, 55);

}

.loginSect {
  margin: auto;
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
  max-width: 600px;
  color: white;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginBtn, .signUpBtn{
  margin: .5em;
  padding: .75em;
  border-radius: 10px;
  font-weight: boldest;
  font-size: 25px;
  cursor: pointer;
  background-color: #333;
  color: white;
  box-shadow: 2px 2px 1px 1px var(--header-title);
} 

.loginBtn:hover, .signUpBtn:hover {
  font-size: 25px;
  box-shadow: none;
  scale: 98%;
  transition: all .75s ease-out;
}

input {
  font-family: 'Press Start 2P', 'Roboto Serif';
  margin: .25em;
  padding: 5px;
  /* width: 70%; */
  background: transparent; 
  color: var(--header-title);
  border: none;
}

.signUpBox{
margin: 2em;
}

.signUpBox p, a{ 
  font-family: 'Press Start 2P', 'Roboto Serif';
  color: var(--header-title);
  font-size: 1em;
  margin: auto;
  line-height: 1.25em;
}

.signUpBox a:hover {
  color: white;
  transition: color .5s ease-in-out;
}

.thanksBox{
margin: auto;
text-align: center;
}

.thankYou {
  margin: 2em;
  font-family: 'Press Start 2P', 'Roboto Serif';
  color: var(--header-title);
}